.tm-container {
    background-color: #fbfbff;
    border-color: #01baef;
}

.tm-compliance-message {
    color: #0b4f6c;
}

.tm-compliance-button {
    background-color: #01baef;
    color: #ffffff;
}